/* App.css */

/* Logo */
.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #67e689; /* Cor verde personalizada */
}

/* Ajuste para o menu de navegação */
.nav-link {
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease-in-out; /* Transição suave nas cores */
}

/* Animação do hover nas âncoras */
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #67e689;
    transition: width 0.3s ease-in-out;
}

/* Efeito hover: cor e sublinhado animado */
.nav-link:hover {
    color: #67e689; /* Cor verde personalizada ao passar o mouse */
}

.nav-link:hover::after {
    width: 100%; /* Sublinhado animado aparece ao passar o mouse */
}

/* Responsividade para o header */
@media (max-width: 768px) {
    .logo {
        font-size: 1.5rem;
    }

    .nav {
        flex-direction: column;
    }

    .nav-item {
        margin-bottom: 10px;
    }
}
